<h2>~*WELCOME TO THE WAREHOUSE MANAGER *~</h2>

<h4>What would you like to do?</h4><br>
<form action="/redirect">
  <input type = "radio" name ="method_to_call" value ="find">Pull information for a particular product<br>
  <input type = "radio" name ="method_to_call" value ="fetch_by">Pull all product records from a given location<br>
  <input type = "radio" name ="method_to_call" value ="find">Edit product information<br>
  <input type = "radio" name ="method_to_call" value ="find">Transfer a product<br>
  <input type = "radio" name ="method_to_call" value ="list_all">View list of: <select name="list_all" value="table_name" size="1">
      <option name="table_name" value="nil">Please Select</option>
      <option name="table_name" value="locations">Locations</option>
      <option name="table_name" value="products">Products</option>
      <option name="table_name" value="categories">Categories</option>
      <br><br>
  <input type ="submit">
      
      
  <!-- <input type = "radio" name ="" value ="">Delete a product<br>
  <input type = "radio" name ="" value ="">Delete a location<br>
  <input type = "radio" name ="" value ="">Delete a product category<br> -->

</form>