<h2>~*WELCOME TO THE WAREHOUSE MANAGER *~</h2>

<h4>What would you like to do?</h4><br>
<form action="/redirect">
  
  <input type = "radio" name ="method_to_call" value ="find">Pull information for a particular product<br>
  
  <input type = "radio" name ="method_to_call" value ="fetch_by">Pull all product records from a given location<br>
  
  <input type = "radio" name ="method_to_call" value ="new_product">Add new product<br>
  
  <input type = "radio" name ="method_to_call" value ="find">Edit product information<br>
  
  <input type = "radio" name ="method_to_call" value ="find">Transfer a product<br>
  
  <input type = "radio" name ="method_to_call">View list of: <select name="list_all" size="1">
      <option value="nil">Please Select</option>
      <option value="all_locations">Locations</option>
      <option value="all_products">Products</option>
      <option value="all_categories">Categories</option>
    </select>
      
  <br><br>
      
  <input type ="submit">
      
      
  <!-- <input type = "radio" name ="" value ="">Delete a product<br>
  <input type = "radio" name ="" value ="">Delete a location<br>
  <input type = "radio" name ="" value ="">Delete a product category<br> -->

</form>