<h2>Please select a location:</h2>

<form action="/return_product_records_at_location">
  
  Location:  <select name="location_to_fetch" size="1">
      <option value="nil">Please Select</option>
      <option value="1">Omaha - HQ</option>
      <option value="2">Austin</option>
      <option value="3">Kansas City</option>
    </select><br><br>
  
  <input type ="submit">
</form>