<h2>Please enter either a product id or product description:</h2>

<form action="/return_product">
  
  Product id:  <input type = "text" name ="search_id" ><br><br>
  
  <!-- Product description:    <input type = "text" name ="search_description"><br><br> -->
  
  <input type ="submit">
</form>